.gallery-grid .gallery-item img {
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-grid .gallery-item:hover img {
    filter: none;
}

.gallery-item {
    position: relative;
    margin: 10px;
}

.gallery-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    right:0;
    height: 0;
    background-color: rgba(0,0,0,.65);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1s ease;  
}

.gallery-item:hover .gallery-overlay {
    opacity: 1;
    height: 25%;
}

.gallery-overlay .content {
    font-size: 1.1rem;
}

@media (min-width: 480px) {
    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .gallery-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery-grid .gallery-item:first-child{
        grid-row: span 2;
        grid-column: span 2;
    }

}